:root {
  --color1: rgb(177, 4, 18);
  --color2: rgb(253, 253, 251);
  --color3: rgb(8, 8, 8);
  --color4: rgba(102, 16, 242, 1);
  --color5: rgba(26, 143, 227, 1);
}

body {
  font-family: "HelveticaNeue-Light";
}

main{
  width: 90%;
  margin: 0 auto;
}

.msg {
  margin: 10px 0;
  padding: 10px;
  width: 400px;
  background-color: var(--color2);
  margin: 0 auto;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
}

#username {
  margin: 5px 0px;
  background-color: var(--color2);
  max-width: 60%;
  min-width: 60%;
}
#text {
  margin: 5px 0px;
  background-color: var(--color2);
}

#post {
  background-color: var(--color1);
  border: none;
  color: #fff;
  margin-bottom: 1rem;
  bottom: 3rem;
}


#messages {
  height: 20rem;
  overflow-y: scroll;
  background-color: var(--color3);
  border: solid thick var(--color3);
}

header {
  background-color: var(--color1);
  color: var(--color2);
}

.page-footer {
  background-color: var(--color1);
}

.footer-copyright {
  background-color: var(--color1) !important;
}
