:root {
  --color1: rgb(238, 21, 21);
  --color2: rgb(240, 240, 240);
  --color3: rgb(34, 34, 36);
  --color4: rgba(5, 44, 239, 1);
  --color5: rgba(244, 220, 38);
}

body {
  font-family: "HelveticaNeue-Light";
}

main {
  width: 90%;
  margin: 0 auto;
}

.options {
  display: grid !important;
}
a{
  color: var(--color4) !important;
}

#round-results{
border: solid thin var(--color5);
}

.msg {
  margin: 10px 0;
  padding: 10px;
  width: 400px;
  background-color: var(--color2);
  margin: 0 auto;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
}

#username {
  margin: 5px 0px;
  background-color: var(--color2);
  max-width: 60%;
  min-width: 60%;
}

#text {
  margin: 5px 0px;
  background-color: var(--color2);
}

#post {
  background-color: var(--color1);
  border: none;
  color: #fff;
  margin-right: 2%;
  bottom: 10%;
}

#messages {
  height: 20rem;
  overflow-y: scroll;
  background-color: var(--color1);
  border: solid thick var(--color5);
}

header {
  background-color: var(--color1);
  color: var(--color2);
}

.page-footer {
  background-color: var(--color1);
}

.footer-copyright {
  background-color: var(--color1) !important;
}