:root {
  --color1: rgba(204, 41, 54, 1);
  --color2: rgba(230, 194, 41, 1);
  --color3: rgba(241, 113, 5, 1);
  --color4: rgba(102, 16, 242, 1);
  --color5: rgba(26, 143, 227, 1);
}

.body {
}

.chat-collection {
  margin: 0 auto;
  background-color: var(--color5);
  width: calc(100% / 3);
  /* float: right; */
  margin-right: 1rem;
  margin-top: 1rem;
  text-align: center;
  min-width: 120px;
}

body {
  font-family: 'HelveticaNeue-Light';
}
.msg {
  margin: 10px 0;
  padding: 10px;
  width: 400px;
  background-color: #efefef;
}
#username, #text {
  margin: 5px 0px;
}
#post {
  padding: 0.5em 1em;
  background-color: #50b1ff;
  border: none;
  color: #FFF;
}

